* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Montserrat', sans-serif;
   font-size: 16px;
   line-height: 1.7;
   width: 100%;
   min-height: 100vh;
   background-color: #8bd1ff;
   color: #333333;
   overflow-x: hidden;
}

/* Burger */
.burger {
   position: fixed;
   top: 3%;
   right: 3%;
   z-index: 3;
   cursor: pointer;
   transition: all ease-in-out 0.5s;
}

.burger div {
   margin: 0.2rem;
   height: 3px;
   background-color: #ffffff;
   transition: all ease-in-out 0.5s;
}

.line-1 {
   width: 30px;
}

.line-2 {
   width: 22px;
}

.line-3 {
   width: 18px;
}

.burger.toggle {
   transform: rotate(180deg);
}

.burger.toggle .line-1 {
   width: 28px;
   transform: rotate(45deg) translate(1px, 10px);
}

.burger.toggle .line-2 {
   opacity: 0;
}

.burger.toggle .line-3 {
   width: 28px;
   transform: rotate(-45deg) translate(-1px, -8px);
}

/* Main */
main {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   height: 100vh;
   transition: all ease-in-out 0.5s;
   position: fixed;
   width: 100%;
   overflow: hidden;
}

main.show {
   transform: translateX(-20%);
}

/* Time */
.time {
   margin-bottom: 10vh;
   font-size: 2.5rem;
   color: #e85d75;
}

/* Form */
form {
   display: flex;
   align-items: center;
   justify-content: center;
   min-width: 70%;
   margin-bottom: 45vh;
   transition: all ease-in-out 0.5s;
}

form input {
   width: 60%;
   padding: 0.7rem 1rem;
   border: none;
   outline: none;
   font-size: 1.2rem;
}

form button {
   padding: 0.7rem 1rem;
   border: none;
   outline: none;
   background-color: #e85d75;
   font-size: 1.2rem;
   color: #ffffff;
   cursor: pointer;
   transition: all ease-in-out 0.5s;
   text-transform: uppercase;
}

form button .fa-plus {
   display: none;
   font-size: 1.4rem;
}

form button:hover {
   background-color: #dd435d;
}

main.show form {
   min-width: 40%;
}
main.show form button span {
   display: none;
}

main.show form button .fa-plus {
   display: block;
}

/* Todo List */
.todo-list {
   background-color: #e85d75;
   min-height: 100vh;
   color: #ffffff;
   position: absolute;
   top: 0;
   right: -40%;
   width: 40%;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 1rem 2em;
   transition: all ease-in-out 0.5s;
}

.todo-list h2 {
   text-transform: uppercase;
   font-size: 1.5rem;
   margin: 1.2rem 0;
}

.todo {
   background-color: #ffffff;
   color: #333333;
   margin: 0.5rem 0;
   width: 100%;
   padding: 0.3rem 0.5rem;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all ease-in-out 1s;
}

.todo h4 {
   flex: 1;
   margin: 0 1rem;
}

.todo i {
   color: #8bd1ff;
   cursor: pointer;
   padding: 0.5rem;
   transition: all ease-in-out 0.5s;
}

.todo i {
   color: #54b9fc;
}

.todo .fa-trash {
   color: #e85d75;
}

.todo .fa-trash:hover {
   color: #dd435d;
}

.todo-list.show {
   right: 0%;
}

/* Checked Todo */
.checked {
   opacity: 0.7;
}

/* Animation */
@keyframes checked {
   0% {
      transform: translateX(0%);
   }
   50% {
      transform: translateX(100%);
   }
   100% {
      transform: translateX(0%);
   }
}

@keyframes trash {
   0% {
      transform: rotate(0deg);
   }
   50% {
      transform: rotate(10deg);
   }
   100% {
      transform: rotate(0deg);
   }
}

/* Alert */
.alert {
   width: 100%;
   background-color: #e85d75;
   text-align: center;
   color: #fff;
   padding: 0.5rem 1rem;
   font-size: 1.2rem;
   text-transform: uppercase;
   position: absolute;
   bottom: 0%;
   transition: all ease-in-out 0.5s;
   animation: showAlert 0.5s ease forwards;
}

@keyframes showAlert {
   0% {
      transform: translateY(100%);
   }
   100% {
      transform: translateY(3%);
   }
}

@media screen and (max-width: 880px) {
   /* Time */
   .time {
      font-size: 2rem;
   }
   /* Main */
   main.show {
      transform: translateX(-25%);
   }
   /* Todo List */
   .todo-list {
      right: -50%;
      width: 50%;
   }
}

@media screen and (max-width: 680px) {
   /* Time */
   .time {
      font-size: 1.5rem;
   }
   /* Todo List */
   .todo-list {
      right: -100%;
      width: 100%;
   }
}
